* {
  list-style: none;
}

.option {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  filter: drop-shadow(0 0 3px darkgrey);
  background-color: rgb(191, 206, 206);
}

.option button {
  border: none;
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnEffect:hover {
  background-color: rgb(236, 243, 241);
  filter: drop-shadow(0 0 1px darkgrey);
}


.disabled {
  background-color: rgb(85, 85, 85);
}

.correct {
  animation: correctFlash .5s 0s 1;
  animation-fill-mode: forwards;
}

.incorrect {
  animation: incorrectFlash .5s 0s 1;
  animation-fill-mode: forwards;
}

@keyframes correctFlash {
  0% {
    background-color: inherit;
  }

  8% {
    background-color: rgb(180, 219, 141);
  }

  100% {
    background-color: inherit;
  }
}

@keyframes incorrectFlash {
  0% {
    background-color: inherit;
  }

  8% {
    background-color: rgb(248, 218, 193);
  }

  100% {
    background-color: inherit;
  }
}